<div class="container">
  <h4>Formularios reactivos <small>validados</small></h4>
  <hr>
  <form [formGroup]="forma" (ngSubmit)="guardar">
    <div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
          <input class="form-control"
          type="text"
          formControlName="nombre"
          placeholder="Nombre">
        </div>
      </div>
     
      <div class="form-group row">
        <label class="col-2 col-form-label">nif</label>
        <div class="col-8">
          <input class="form-control"
          type="text"
          formControlName="nif"
          placeholder="nif">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Email</label>
      <div class="col-md-8">
        <input class="form-control"
        type="email"
        formControlName="email"
        placeholder="email">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Password</label>
      <div class="col-md-8">
        <input class="form-control"
        type="password"
        formControlName="password">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary mr-2">Guardar</button>
        <button type="submit" class="btn btn-outline-danger">Limpiar</button>
      </div>
    </div>
  </form>

  <hr>
  <h3 class="mt-5">Formulario</h3>
  <pre>Estado fomulario:{{forma.valid}}
    <br>
    Status:{{forma.status}}
  </pre>

  <pre>
    {{forma.value | json}}
  </pre>
  </div>